/* @font-face {
  font-family: 'Rajdhani';
  font-weight: 400;
  src: url('assets/fonts/rajdhani-regular.woff2') format('woff2');
  src: url('assets/fonts/rajdhani-regular.woff2') format('woff');
} */

@font-face {
  font-family: 'Rajdhani';
  font-weight: 600;
  src: url('assets/fonts/rajdhani-semibold.woff2') format('woff2');
  src: url('assets/fonts/rajdhani-semibold.woff2') format('woff');
} 

@font-face {
  font-family: 'Rajdhani';
  font-weight: 700;
  src: url('assets/fonts/rajdhani-bold.woff2') format('woff2');
  src: url('assets/fonts/rajdhani-bold.woff2') format('woff');
}

@font-face {
  font-family: 'Prompt';
  font-weight: 400;
  src: url('assets/fonts/prompt-regular.woff2') format('woff2');
  src: url('assets/fonts/prompt-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.wrapper {
display: block;
margin: auto;
width: fit-content;
}

/* .icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
} */

.parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px auto 40px;
  font-family: 'Rajdhani';
  font-size: 2.2rem;
  font-weight: 600;
}

.game-status {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 300px;
  height: 80px;
  margin: 20px auto 40px;
  border: solid 1px black;
  text-align: center;
  font-size: 2rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tech-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 0 20px;
  list-style: none;
}

.tech-menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 0 20px;
  list-style: none;
}

.win {
  background-color: lightgreen;
}

.lose {
  background-color: lightcoral;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border: ridge 10px lightgrey;
}

.row {
  display: flex;
  justify-content: space-between;
} 

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: rgb(187, 187, 187);
  border: outset 3px lightgray;
  font-family: 'Rajdhani';
  font-size: 2.2rem;
  font-weight: 700;
  /* color: transparent; */
}

.cell_opened {
  border: solid 1px gray;

} 

.cell_flag {
  font-size: 1.4rem;
  color: red;
}

.cell_flag::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f024";
}

.cell_type_1 {
  color:blue;
}

.cell_type_2 {
  color:green;
}

.cell_type_3 {
  color:red;
}

.cell_type_4 {
  color: purple;
}

.cell_type_5 {
  color: magenta;
}

.cell_type_bomb {
  font-size: 1.8rem;
} 

.cell_type_bomb-exploded {
  background-color: red;
}